{% block knockout_widget %}
{% spaceless %}
    {% if prototype is defined %}
        <script id="{{ id }}_template" type="text/html">
            <tr>
            {% for name, field in prototype %}
                <td>
                <ul data-bind="html: errors"></ul>
                {{ form_widget(field, { attr: { 'data-bind': 'value: ' ~ name ~ ', uniqueId: ' ~ name } }) }}
                </td>
            {% endfor %}
                <td><button type="button" class="btn" data-bind="click: remove">{% trans %}knockout.remove{% endtrans %}</button></td>
            </tr>
        </script>
    {% endif %}

    <table class="table table-knockout">
        <thead>
            <tr>
            {% for name, field in prototype %}
                <th>
                    {{ form_label(field, name) }}
                </th>
            {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="template: { name: '{{ id }}_template', foreach: {{ name }}, afterRender: inc{{ name|capitalize }}Counter }">
        </tbody>
        <tfoot>
            <td colspan="{{ prototype|length + 1 }}" style="text-align: center;">
                <button type="button" class="btn" data-bind="click: create{{ name|capitalize }}">
                    {% trans %}knockout.add{% endtrans %}
                </button>
            </td>
        </tfoot>
    </table>

    {% if form.setRendered() %}
    {% endif %}
{% endspaceless %}
{% endblock knockout_widget %}
